In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
# files
file1 = 'data/driver_rides.csv'
file2 = 'data/driver_sessions.csv'

In [3]:
# initial file dataframes
driver_rides_df = pd.read_csv(file1)
driver_sessions_df = pd.read_csv(file2)

### Create DataFrame of When and Where Rides are Accepted
#### M1.1 Ride Length Total
#### M1.2 Ride length from Accept to Arrive
#### M1.3 Ride length from Arrive to Pickup
#### M1.4 Ride length from Pickup to Dropoff

In [4]:
# pull file into a DataFrame
driver_rides_df

,status,accepted_timestamp,accepted_lat,accepted_lng,pickup_timestamp,pickup_lat,pickup_lng,dropped_off_timestamp,dropoff_lat,dropoff_lng
0,finished,2021-07-08 20:57:56 UTC,29.436080,-98.494540,2021-07-08 21:01:30 UTC,NaN,NaN,2021-07-08 21:15:05 UTC,NaN,NaN
1,finished,2021-07-08 06:41:29 UTC,29.424580,-98.500380,2021-07-08 06:45:36 UTC,NaN,NaN,2021-07-08 07:08:28 UTC,NaN,NaN
2,canceled,2021-07-08 01:49:01 UTC,29.487599,-98.608716,NaN,NaN,NaN,NaN,NaN,NaN
3,finished,2021-07-08 22:39:27 UTC,29.467350,-98.491890,2021-07-08 22:42:04 UTC,NaN,NaN,2021-07-08 22:56:26 UTC,NaN,NaN
4,finished,2021-07-08 05:28:51 UTC,29.527446,-98.477111,2021-07-08 05:46:57 UTC,NaN,NaN,2021-07-08 06:03:00 UTC,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1112,finished,2021-10-05 21:49:34 UTC,29.592361,-98.582359,2021-10-05 22:09:52 UTC,NaN,NaN,2021-10-05 22:31:45 UTC,NaN,NaN
1113,finished,2021-11-10 01:11:44 UTC,29.426483,-98.488251,2021-11-10 01:17:10 UTC,NaN,NaN,2021-11-10 01:24:43 UTC,NaN,NaN
1114,finished,2021-10-25 23:25:34 UTC,29.539421,-98.571307,2021-10-25 23:35:26 UTC,NaN,NaN,2021-10-25 23:45:53 UTC,NaN,NaN
1115,finished,2021-10-25 18:00:17 UTC,29.417805,-98.683061,2021-10-25 18:05:44 UTC,NaN,NaN,2021-10-25 18:25:29 UTC,NaN,NaN
1116,finished,2021-10-25 19:46:39 UTC,29.488210,-98.501600,2021-10-25 19:52:14 UTC,NaN,NaN,2021-10-25 20:02:02 UTC,NaN,NaN

In [5]:
# drop unneccesary columns, drop columns with NaN
# this data shows length of time in the lifecycle of each ride
# the lifecycle is - accept ride, pickup rider, dropoff rider -> Isolate the Lifecyele timestamps

driver_timestamps_df = driver_rides_df.drop(['status', 'accepted_lat', 'accepted_lng', 'pickup_lat','pickup_lng','dropoff_lat','dropoff_lng'], axis = 1).dropna()
driver_timestamps_df

,accepted_timestamp,pickup_timestamp,dropped_off_timestamp
0,2021-07-08 20:57:56 UTC,2021-07-08 21:01:30 UTC,2021-07-08 21:15:05 UTC
1,2021-07-08 06:41:29 UTC,2021-07-08 06:45:36 UTC,2021-07-08 07:08:28 UTC
3,2021-07-08 22:39:27 UTC,2021-07-08 22:42:04 UTC,2021-07-08 22:56:26 UTC
4,2021-07-08 05:28:51 UTC,2021-07-08 05:46:57 UTC,2021-07-08 06:03:00 UTC
5,2021-07-08 22:02:22 UTC,2021-07-08 22:06:59 UTC,2021-07-08 22:25:34 UTC
...,...,...,...
1112,2021-10-05 21:49:34 UTC,2021-10-05 22:09:52 UTC,2021-10-05 22:31:45 UTC
1113,2021-11-10 01:11:44 UTC,2021-11-10 01:17:10 UTC,2021-11-10 01:24:43 UTC
1114,2021-10-25 23:25:34 UTC,2021-10-25 23:35:26 UTC,2021-10-25 23:45:53 UTC
1115,2021-10-25 18:00:17 UTC,2021-10-25 18:05:44 UTC,2021-10-25 18:25:29 UTC
1116,2021-10-25 19:46:39 UTC,2021-10-25 19:52:14 UTC,2021-10-25 20:02:02 UTC

In [6]:
# I need to sort by 'accepted_timestamp'
driver_timestamps_df.sort_values(by='accepted_timestamp',axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)

,accepted_timestamp,pickup_timestamp,dropped_off_timestamp
133,2021-06-28 23:24:42 UTC,2021-06-28 23:30:14 UTC,2021-06-28 23:53:19 UTC
30,2021-06-29 02:03:40 UTC,2021-06-29 02:06:59 UTC,2021-06-29 02:18:42 UTC
567,2021-06-29 02:13:37 UTC,2021-06-29 02:20:57 UTC,2021-06-29 02:38:45 UTC
568,2021-06-29 03:01:57 UTC,2021-06-29 03:07:18 UTC,2021-06-29 03:17:43 UTC
69,2021-06-29 03:18:23 UTC,2021-06-29 03:23:41 UTC,2021-06-29 03:38:38 UTC
...,...,...,...
1036,2021-11-28 22:25:59 UTC,2021-11-28 22:30:59 UTC,2021-11-28 22:43:55 UTC
936,2021-11-28 22:40:52 UTC,2021-11-28 22:49:28 UTC,2021-11-28 22:55:52 UTC
589,2021-11-28 23:14:53 UTC,2021-11-28 23:21:59 UTC,2021-11-28 23:29:50 UTC
798,2021-11-28 23:22:46 UTC,2021-11-28 23:33:56 UTC,2021-11-28 23:53:21 UTC
526,2021-11-29 00:04:17 UTC,2021-11-29 00:06:20 UTC,2021-11-29 00:19:53 UTC