In [1]:
# imports
import pandas as pd
import numpy as np
from ipyleaflet import (Map, GeoData, basemaps, WidgetControl, GeoJSON,
 LayersControl, Icon, Marker,basemap_to_tiles, Choropleth,
 MarkerCluster, Heatmap,SearchControl, 
 FullScreenControl)
from ipywidgets import Text, HTML
from branca.colormap import linear
import geopandas
import json

In [2]:
# files
file1 = 'data/driver_rides.csv'
file2 = 'data/driver_sessions.csv'
file3 = 'data/passenger_rides.csv'

In [3]:
# initial file dataframes
driver_rides_df = pd.read_csv(file1)
driver_sessions_df = pd.read_csv(file2)
passenger_rides_df = pd.read_csv(file3)

### Create DataFrame of When and Where Rides are Accepted

In [4]:
# pull file
driver_rides_df.head()

,status,accepted_timestamp,accepted_lat,accepted_lng,pickup_timestamp,pickup_lat,pickup_lng,dropped_off_timestamp,dropoff_lat,dropoff_lng
0,finished,2021-07-15 22:29:22 UTC,29.469300,-98.644540,2021-07-15 22:37:28 UTC,NaN,NaN,2021-07-15 22:51:25 UTC,NaN,NaN
1,finished,2021-07-15 23:30:53 UTC,29.424730,-98.488860,2021-07-15 23:35:51 UTC,NaN,NaN,2021-07-15 23:46:21 UTC,NaN,NaN
2,finished,2021-07-15 19:31:09 UTC,29.448200,-98.669750,2021-07-15 19:37:27 UTC,NaN,NaN,2021-07-15 19:49:47 UTC,NaN,NaN
3,finished,2021-07-10 23:25:59 UTC,29.521920,-98.555950,2021-07-10 23:29:56 UTC,NaN,NaN,2021-07-10 23:59:56 UTC,NaN,NaN
4,finished,2021-07-07 21:32:25 UTC,29.453194,-98.637306,2021-07-07 21:38:39 UTC,NaN,NaN,2021-07-07 21:56:16 UTC,NaN,NaN

In [5]:
# drop unneccesary columns
driver_timestamps_df = driver_rides_df.drop(['status','pickup_lat','pickup_lng','dropoff_lat','dropoff_lng'], axis = 1)
driver_timestamps_df.head()

,accepted_timestamp,accepted_lat,accepted_lng,pickup_timestamp,dropped_off_timestamp
0,2021-07-15 22:29:22 UTC,29.469300,-98.644540,2021-07-15 22:37:28 UTC,2021-07-15 22:51:25 UTC
1,2021-07-15 23:30:53 UTC,29.424730,-98.488860,2021-07-15 23:35:51 UTC,2021-07-15 23:46:21 UTC
2,2021-07-15 19:31:09 UTC,29.448200,-98.669750,2021-07-15 19:37:27 UTC,2021-07-15 19:49:47 UTC
3,2021-07-10 23:25:59 UTC,29.521920,-98.555950,2021-07-10 23:29:56 UTC,2021-07-10 23:59:56 UTC
4,2021-07-07 21:32:25 UTC,29.453194,-98.637306,2021-07-07 21:38:39 UTC,2021-07-07 21:56:16 UTC

### Create DataFrame of Driver Start and End

In [6]:
driver_sessions_df

,start_time,duration,start_lat,start_lng,end_lat,end_lng
0,2021-07-24 20:20:47 UTC,0.491111,29.456915,-98.674567,29.432770,-98.482840
1,2021-07-24 19:27:11 UTC,0.792778,29.435907,-98.691461,29.460005,-98.670725
2,2021-07-24 05:57:11 UTC,0.386111,29.314874,-98.384354,29.444857,-98.665654
3,2021-07-24 02:10:10 UTC,3.780278,29.450487,-98.682075,29.314866,-98.384366
4,2021-07-11 18:19:07 UTC,0.256667,29.489100,-98.622475,29.470984,-98.621434
...,...,...,...,...,...,...
80,2021-07-12 16:51:14 UTC,3.344444,29.435785,-98.691378,29.523626,-98.453220
81,2021-07-12 01:01:55 UTC,0.192222,29.519016,-98.494876,29.444012,-98.664440
82,2021-07-21 18:44:35 UTC,3.401667,29.435843,-98.691386,29.520713,-98.506468
83,2021-07-28 21:41:55 UTC,1.304722,29.470447,-98.621214,29.435581,-98.708463
84,2021-07-28 20:29:51 UTC,1.000556,29.450654,-98.683458,29.470041,-98.621298

In [7]:
driver_start_end_df = driver_sessions_df.drop(['start_time','duration'], axis = 1)
driver_start_end_df

    start_lat  start_lng    end_lat    end_lng
0   29.456915 -98.674567  29.432770 -98.482840
1   29.435907 -98.691461  29.460005 -98.670725
2   29.314874 -98.384354  29.444857 -98.665654
3   29.450487 -98.682075  29.314866 -98.384366
4   29.489100 -98.622475  29.470984 -98.621434
..        ...        ...        ...        ...
80  29.435785 -98.691378  29.523626 -98.453220
81  29.519016 -98.494876  29.444012 -98.664440
82  29.435843 -98.691386  29.520713 -98.506468
83  29.470447 -98.621214  29.435581 -98.708463
84  29.450654 -98.683458  29.470041 -98.621298

[85 rows x 4 columns]

### Create DataFrame of Passenger Requests

In [8]:
# assess necessary columns
passenger_rides_df.head()

,status,requested_timestamp,requested_lat,requested_lng,pickup_timestamp,pickup_address,pickup_lat,pickup_lng,destination_address,dropoff_timestamp,dropoff_lat,dropoff_lng
0,finished,2021-06-22 17:27:30 UTC,29.45157,-98.68230,2021-06-22 17:32:24 UTC,"10131 Military Dr W, San Antonio, TX 78251, Un...",29.45138,-98.68242,"9427 Culebra Rd, San Antonio, TX, United States",2021-06-22 17:42:14 UTC,29.48700,-98.66855
1,finished,2021-06-17 12:30:15 UTC,29.45053,-98.68126,2021-06-17 12:37:10 UTC,"9914 W Military Dr, San Antonio, TX, United St...",29.45144,-98.68237,"9427 Culebra Rd, San Antonio, TX, United States",2021-06-17 12:46:57 UTC,29.48693,-98.66800
2,finished,2021-06-28 16:23:06 UTC,29.45143,-98.68234,2021-06-28 16:29:24 UTC,"10131 Military Dr W, San Antonio, TX 78251, Un...",29.45137,-98.68241,"8770 Broadway, Lyft Flexdrive",2021-06-28 16:50:33 UTC,29.51890,-98.46186
3,finished,2021-06-18 17:19:58 UTC,29.45049,-98.68197,2021-06-18 17:29:28 UTC,"9914 W Military Dr, San Antonio, TX, United St...",29.45144,-98.68239,"9427 Culebra Rd, San Antonio, TX, United States",2021-06-18 17:38:02 UTC,29.48694,-98.66891
4,finished,2021-06-02 13:12:03 UTC,29.45157,-98.68229,2021-06-02 13:18:12 UTC,"10131 Military Dr W, San Antonio, TX 78251, Un...",29.45139,-98.68239,"Terminal A, American",2021-06-02 13:36:28 UTC,29.52729,-98.47281

In [9]:
# drop unnecesary columns and NaN
passenger_requests_df = passenger_rides_df.drop(['status','pickup_address','destination_address'], axis = 1).dropna()
passenger_requests_df

,requested_timestamp,requested_lat,requested_lng,pickup_timestamp,pickup_lat,pickup_lng,dropoff_timestamp,dropoff_lat,dropoff_lng
0,2021-06-22 17:27:30 UTC,29.45157,-98.68230,2021-06-22 17:32:24 UTC,29.45138,-98.68242,2021-06-22 17:42:14 UTC,29.48700,-98.66855
1,2021-06-17 12:30:15 UTC,29.45053,-98.68126,2021-06-17 12:37:10 UTC,29.45144,-98.68237,2021-06-17 12:46:57 UTC,29.48693,-98.66800
2,2021-06-28 16:23:06 UTC,29.45143,-98.68234,2021-06-28 16:29:24 UTC,29.45137,-98.68241,2021-06-28 16:50:33 UTC,29.51890,-98.46186
3,2021-06-18 17:19:58 UTC,29.45049,-98.68197,2021-06-18 17:29:28 UTC,29.45144,-98.68239,2021-06-18 17:38:02 UTC,29.48694,-98.66891
4,2021-06-02 13:12:03 UTC,29.45157,-98.68229,2021-06-02 13:18:12 UTC,29.45139,-98.68239,2021-06-02 13:36:28 UTC,29.52729,-98.47281
5,2021-06-24 16:52:33 UTC,29.59258,-98.59653,2021-06-24 16:54:46 UTC,29.59260,-98.59640,2021-06-24 17:13:02 UTC,29.45144,-98.68234
7,2021-06-17 16:27:56 UTC,29.48698,-98.66845,2021-06-17 16:36:16 UTC,29.48703,-98.66846,2021-06-17 16:46:50 UTC,29.45049,-98.68197
8,2021-06-01 19:13:27 UTC,29.49035,-98.62206,2021-06-01 19:15:11 UTC,29.49024,-98.62192,2021-06-01 19:26:48 UTC,29.45124,-98.68265
9,2021-06-19 03:38:49 UTC,29.48698,-98.66845,2021-06-19 03:47:11 UTC,29.48703,-98.66847,2021-06-19 03:56:40 UTC,29.45048,-98.68197
10,2021-06-24 15:55:49 UTC,29.45049,-98.68197,2021-06-24 15:59:36 UTC,29.45147,-98.68239,2021-06-24 16:16:29 UTC,29.59258,-98.59653
11,2021-06-22 20:13:23 UTC,29.48652,-98.66645,2021-06-22 20:18:43 UTC,29.48627,-98.66637,2021-06-22 20:28:55 UTC,29.45054,-98.68185
12,2021-06-16 19:53:51 UTC,29.47546,-98.60911,2021-06-16 20:02:18 UTC,29.47560,-98.60914,2021-06-16 20:13:14 UTC,29.45159,-98.68250

### GeoMap Passenger Requests with GeoPandas

In [12]:
texas_shape = geopandas.read_file('data/cb_2018_48_place_500k.shp')
texas_shape.head()

                                            geometry
0  MULTIPOLYGON (((-98.21577 29.66027, -98.20412 ...
1  MULTIPOLYGON (((-94.93500 29.71517, -94.93372 ...
2  MULTIPOLYGON (((-101.87444 33.46171, -101.8731...
3  POLYGON ((-100.39771 35.90979, -100.38955 35.9...
4  POLYGON ((-97.31433 33.09949, -97.30795 33.099...

In [15]:
str(texas_shape.iloc[0]['geometry'])

'MULTIPOLYGON (((-98.215767 29.660273, -98.20412399999999 29.667006, -98.20403899999999 29.66689, -98.21568099999999 29.660158, -98.215767 29.660273)), ((-98.30183799999999 29.616674, -98.289464 29.62108, -98.281576 29.623909, -98.26981499999999 29.62808, -98.26920799999999 29.627152, -98.26553299999999 29.629503, -98.26601099999999 29.630176, -98.262562 29.632237, -98.26073699999999 29.629328, -98.25098199999999 29.634919, -98.25026299999999 29.635261, -98.24907399999999 29.63576, -98.227857 29.642757, -98.229388 29.644743, -98.227142 29.646112, -98.225933 29.644396, -98.216909 29.648429, -98.21550599999999 29.650364, -98.211748 29.654307, -98.209199 29.655754, -98.20339299999999 29.657117, -98.20007799999999 29.659278, -98.202564 29.657355, -98.201393 29.657897, -98.20071999999999 29.656801, -98.19725699999999 29.649845, -98.195441 29.649976, -98.195016 29.649461, -98.196023 29.648707, -98.19434199999999 29.645384, -98.19177499999999 29.640523, -98.18977 29.641367, -98.18852699999999 29.639015, -98.186244 29.640811, -98.18490899999999 29.638425, -98.190708 29.635731, -98.18942899999999 29.633379, -98.18830699999999 29.63393, -98.187721 29.632991, -98.190592 29.631662, -98.18753799999999 29.626752, -98.185391 29.62606, -98.182664 29.627461, -98.183993 29.631541, -98.182886 29.632093, -98.18060899999999 29.628513, -98.17675299999999 29.630388, -98.187708 29.624675, -98.187744 29.624753, -98.19335099999999 29.621921, -98.193822 29.621919, -98.19441499999999 29.622423, -98.19785399999999 29.628046, -98.20438899999999 29.624859, -98.20752499999999 29.622483, -98.20862099999999 29.620786, -98.21160399999999 29.619609, -98.215857 29.616882, -98.22122399999999 29.614371, -98.21966399999999 29.612035, -98.22374099999999 29.609161, -98.22471499999999 29.609743, -98.225993 29.611713, -98.230401 29.618469, -98.232917 29.617219, -98.233582 29.616759, -98.233683 29.616677, -98.23456299999999 29.615834, -98.23904999999999 29.613635, -98.238907 29.613422, -98.248149 29.608688, -98.248233 29.608818, -98.254412 29.605707, -98.254941 29.605444, -98.261669 29.602096, -98.266499 29.608697, -98.266589 29.608818, -98.26684399999999 29.609271, -98.274587 29.602023, -98.274154 29.601546, -98.272294 29.599348, -98.26589399999999 29.60174, -98.262992 29.597436, -98.26219399999999 29.597813, -98.26184499999999 29.597994, -98.257542 29.591492, -98.25726999999999 29.59112, -98.255145 29.588033, -98.253366 29.585483, -98.263621 29.58033, -98.26254 29.578724, -98.25998399999999 29.574926, -98.25812499999999 29.57581, -98.25714599999999 29.576184, -98.255819 29.574208, -98.25122999999999 29.567356, -98.24726899999999 29.566617, -98.2471 29.565495, -98.244725 29.565347, -98.243628 29.563868, -98.246077 29.560242, -98.24746499999999 29.559716, -98.24771299999999 29.558943, -98.24640199999999 29.556, -98.243162 29.557052, -98.239204 29.556575, -98.23389899999999 29.554893, -98.23253899999999 29.554019, -98.230695 29.550837, -98.230693 29.548734, -98.230553 29.547994, -98.23129899999999 29.548081, -98.23550399999999 29.545605, -98.238407 29.549996, -98.239953 29.549128, -98.24056899999999 29.550162, -98.238979 29.550863, -98.241575 29.554799, -98.244204 29.553473, -98.24114299999999 29.548831, -98.243505 29.547641, -98.240484 29.543308, -98.252302 29.537355, -98.25416 29.540094, -98.24902999999999 29.542681, -98.25029099999999 29.544599, -98.25302099999999 29.54321, -98.25388199999999 29.540982, -98.255377 29.540491, -98.256086 29.540274, -98.25412899999999 29.538565, -98.25149599999999 29.534556, -98.24351799999999 29.53856, -98.240944 29.534587, -98.24023299999999 29.534947, -98.23880299999999 29.533332, -98.237433 29.534323, -98.24105 29.539814, -98.23913899999999 29.540778, -98.23966899999999 29.541877, -98.23171499999999 29.546154, -98.230823 29.544958, -98.238822 29.540906, -98.238489 29.539781, -98.23600499999999 29.535939, -98.23398499999999 29.533769, -98.237217 29.531396, -98.23374299999999 29.526046, -98.221357 29.53166, -98.21936799999999 29.528533, -98.220883 29.52882, -98.22233 29.530076, -98.234701 29.523731, -98.24177899999999 29.524222, -98.240527 29.522239, -98.241721 29.521649, -98.243482 29.524374, -98.24463999999999 29.523857, -98.24032 29.517272, -98.24230299999999 29.516329, -98.241491 29.515102, -98.239289 29.516421, -98.240241 29.517148, -98.239369 29.517587, -98.23812699999999 29.515716, -98.241072 29.514474, -98.23899299999999 29.511334, -98.236695 29.511388, -98.23525199999999 29.508285, -98.23049899999999 29.507034, -98.228825 29.507034, -98.22121399999999 29.510868, -98.218322 29.506448, -98.20945999999999 29.510267, -98.215436 29.519554, -98.215537 29.52096, -98.221851 29.517742, -98.220113 29.516381, -98.221763 29.515721, -98.22264799999999 29.517335, -98.23044399999999 29.513356, -98.23261699999999 29.516636, -98.21882199999999 29.523539, -98.216436 29.524294, -98.215355 29.524005, -98.214372 29.52304, -98.21054199999999 29.523393, -98.21530899999999 29.521078, -98.215265 29.519623, -98.213714 29.517, -98.208732 29.5095, -98.20740699999999 29.508878, -98.205624 29.509759, -98.20452399999999 29.509469, -98.2063 29.508585, -98.204352 29.507996, -98.20127199999999 29.503638, -98.199619 29.504468, -98.19884999999999 29.503789, -98.19072299999999 29.507684, -98.188456 29.504028, -98.186318 29.50132, -98.19121799999999 29.499468, -98.194115 29.498651, -98.199714 29.496343, -98.219787 29.48953, -98.22385899999999 29.48845, -98.231369 29.485663, -98.23451 29.484855, -98.237375 29.483601, -98.24915399999999 29.479588, -98.254936 29.477875, -98.257256 29.476823, -98.263913 29.47494, -98.26912299999999 29.472983, -98.28465399999999 29.46798, -98.28942499999999 29.470453, -98.29315799999999 29.471377, -98.290379 29.47963, -98.29378799999999 29.480529, -98.292858 29.483634, -98.281003 29.480658, -98.27797799999999 29.485216, -98.274991 29.489671, -98.274643 29.49002, -98.27296699999999 29.491234, -98.27012999999999 29.495411, -98.269531 29.497095, -98.273645 29.497978, -98.27880499999999 29.499245, -98.277191 29.504153, -98.284272 29.505957, -98.27981899999999 29.508245, -98.279403 29.50846, -98.279022 29.508655, -98.279889 29.51023, -98.27498899999999 29.51273, -98.27394299999999 29.511254, -98.273883 29.511283, -98.27324899999999 29.511605, -98.273747 29.513361, -98.27578899999999 29.51633, -98.274525 29.515864, -98.26821 29.515867, -98.26678199999999 29.520551, -98.264989 29.52153, -98.26348899999999 29.51923, -98.26075399999999 29.517892, -98.25865899999999 29.515236, -98.258273 29.514748, -98.25783299999999 29.51503, -98.258139 29.515498, -98.25996099999999 29.518283, -98.259289 29.52183, -98.26047299999999 29.52379, -98.25999899999999 29.52403, -98.259441 29.524314, -98.26218899999999 29.52663, -98.259889 29.53023, -98.262289 29.533929, -98.262435 29.534229, -98.260519 29.540376, -98.262288 29.540931, -98.264956 29.542021, -98.265395 29.542202, -98.26749099999999 29.54307, -98.26901699999999 29.542188, -98.270189 29.542829, -98.268503 29.543765, -98.267432 29.544178, -98.27038899999999 29.54573, -98.27083999999999 29.548822, -98.27292399999999 29.550878, -98.27333 29.551006, -98.27370999999999 29.551213, -98.27906899999999 29.551141, -98.284178 29.553255, -98.28552999999999 29.554763, -98.28571199999999 29.55732, -98.28778199999999 29.559373, -98.29281899999999 29.561309, -98.294766 29.561531, -98.291105 29.563476, -98.294904 29.56942, -98.29140099999999 29.571306, -98.29248899999999 29.573174, -98.29368799999999 29.575234, -98.29497099999999 29.57735, -98.29045499999999 29.579659, -98.292716 29.582405, -98.294596 29.585278, -98.29071999999999 29.587234, -98.292974 29.591272, -98.291275 29.592597, -98.292721 29.594773, -98.296211 29.6, -98.297259 29.60151, -98.306078 29.6146, -98.30183799999999 29.616674), (-98.248852 29.530626, -98.24949799999999 29.530275, -98.24911899999999 29.52974, -98.24877599999999 29.529217, -98.24531899999999 29.530908, -98.246832 29.533218, -98.24964299999999 29.531803, -98.248852 29.530626), (-98.243545 29.525979, -98.24103599999999 29.525853, -98.242019 29.527372, -98.243797 29.526377, -98.243545 29.525979), (-98.231804 29.500495, -98.22792 29.502412, -98.226736 29.501486, -98.21856 29.505637, -98.22017799999999 29.508113, -98.23267899999999 29.501812, -98.231804 29.500495), (-98.23014099999999 29.497985, -98.224012 29.5011, -98.223303 29.498449, -98.22425699999999 29.49798, -98.222782 29.495767, -98.22012199999999 29.497094, -98.21867999999999 29.494783, -98.21975399999999 29.494241, -98.21728 29.490546, -98.21223499999999 29.492262, -98.213183 29.493302, -98.214547 29.496888, -98.213309 29.497505, -98.21172399999999 29.495138, -98.20929099999999 29.496387, -98.21015799999999 29.497695, -98.200395 29.502688, -98.20150599999999 29.503635, -98.20448499999999 29.507876, -98.20817199999999 29.508916, -98.20936599999999 29.510124, -98.230943 29.499199, -98.23014099999999 29.497985), (-98.21658099999999 29.647507, -98.212126 29.650679, -98.21354599999999 29.652262, -98.21534899999999 29.650273, -98.216639 29.64837, -98.21658099999999 29.647507), (-98.21472999999999 29.644846, -98.213067 29.644394, -98.21257199999999 29.642219, -98.20609499999999 29.647032, -98.20129299999999 29.651129, -98.201127 29.653567, -98.20303 29.657022, -98.216267 29.647163, -98.21472999999999 29.644846), (-98.21025 29.492937, -98.205073 29.495144, -98.19971699999999 29.497932, -98.20137199999999 29.50023, -98.211613 29.494972, -98.21025 29.492937), (-98.211107 29.654515, -98.20954599999999 29.652572, -98.203728 29.656869, -98.20943699999999 29.655498, -98.209763 29.655329, -98.211107 29.654515), (-98.20794199999999 29.497144, -98.20553199999999 29.498381, -98.20634199999999 29.499546, -98.208749 29.498316, -98.20794199999999 29.497144), (-98.203166 29.499765, -98.19944599999999 29.501655, -98.200244 29.502553, -98.20387699999999 29.500812, -98.203166 29.499765), (-98.201381 29.636666, -98.19601999999999 29.638881, -98.19829 29.643145, -98.20123099999999 29.641313, -98.202574 29.642064, -98.201381 29.636666), (-98.19693699999999 29.628585, -98.19777099999999 29.628094, -98.194333 29.622465, -98.193556 29.62195, -98.189617 29.623916, -98.193409 29.630263, -98.19125699999999 29.631362, -98.192094 29.632934, -98.195019 29.631446, -98.196186 29.633665, -98.19904799999999 29.632406, -98.19693699999999 29.628585), (-98.196254 29.638602, -98.19521499999999 29.636579, -98.19215899999999 29.638106, -98.19206199999999 29.638149, -98.19298999999999 29.639918, -98.195104 29.639075, -98.19481499999999 29.638515, -98.19539499999999 29.638287, -98.195679 29.638839, -98.196254 29.638602)))'